* {
  color: #fff;
  font-size: 28px;
  font-weight: 300;
  box-sizing: border-box;
  font-family: "Metrophobic", Arial, serif;
 }

body {
  background-color: #323232;
  padding: 50px;
}

header,
nav,
section,
aside,
footer {
  text-align: center;
  background-color: #666666;
  border-radius: 5px;
  padding: 50px;
}

header,
nav,
footer {
  width: 100%;
  padding: 5px;
}

header {
  margin-bottom: 5px;
}

h1 {
  margin: 0;
}

nav,
aside {
  width: 25%;
}

section {
  float: left;
  width: calc(50% - 10px);
  margin: 5px 5px 5px 5px;
}

section header,
section article,
section footer {
  width: 100%;
  background-color: #999999;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

section article {
  margin: 2px 0;
}

nav {
  float: left;
}

aside {
  float: right;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 0;
}

nav li {
  display: inline-block;
  margin: 0 0 0 0px;
  width: 100px;
}

nav li:first-child {
  margin-left: 0;
}

footer {
  clear: both;
}
